*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SyneMono';
    src: url('../assets/Syne_Mono/SyneMono-Regular.ttf');
}

.logo {
    width: 438px;
    height: 394px;
    position: absolute; /* Absolute positioning within the parent */
    top: 55%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: transparent;
    background-image: url("../assets/cryptogram-logo-1.png");
    background-size: cover;
    background-position: center;
    border-radius: 40%;
    border: none;
    overflow: hidden;
    z-index: 2;
}

.logo:hover {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.1s ease;
    cursor: pointer;
}

.menu-background {
    position: absolute;
    top: -30px;
    height: 1000px;
    width: 1500px; /* Ensures it spans the full container */
    background-image: url('../assets/manila-folder-open.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; /* Centers the image */
    z-index: -5;
    overflow: hidden; /* Prevents overflow issues */
}

.menu-background.start {
    position: relative;
    top: -5%;
    height: 800px;
    width: 1000px; /* Ensures it spans the full container */
    background-image: url('../assets/manila-folder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; /* Centers the image */
    z-index: 1;
    overflow: hidden; /* Prevents overflow issues */
}


h1 {
    margin-top: 7%;
    font-family: 'SyneMono', monospace;
    font-size: 48px;
    text-wrap: nowrap;
}

.levels-container {
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-bottom: 3%;
}

.level-grid {
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(4, 120px);
}

.level-icon {
    height: 66px;
    width: 96px;
    background-image: url('../assets/piece-of-paper.png');
    background-size: contain;
}

.level-icon:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
}

.level-info {
    height: 18px;
    width: 96px;
    font-family: 'SyneMono', monospace;
    font-size: 16px;
    text-align: center;
    transform: translateY(10px);
    color: black;
}

.level-info:hover {
    text-decoration: underline;
}

.start-button {
    width: 150px;
    height: 60px;
    margin-top: 3%; 
    transform: translate(300px, -100px);
    border-radius: 10%;
    background-image: url('../assets/leather.jpeg');
    background-size: auto;
    font-size: 18px;
    font-family: 'SyneMono', monospace;
    color: white;
}

.start-button:hover {
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.open-button {
    position: absolute;
    top: 24%;
    left: 24%;
    width: auto;
    height: auto;
    background-color: transparent;
    font-family: 'SyneMono', monospace;
    font-size: 32px;
    font-weight: bold;
    color: black;
    border: 0;
}

.open-button:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
    cursor: pointer;
}

.level-button {
    height: 120px;
    width: 120px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10%;
    box-sizing: border-box;
}

.level-button:hover {
    cursor: pointer;
}

.circle-button {
    position: relative;
    margin-top: 1%;
    background-image: url('../assets/leather.jpeg');
    background-size: auto;
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-family: 'SyneMono', monospace;
    font-size: 16px;
    color: white;
}

.circle-button:hover {
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}