*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SyneMono';
    src: url('../assets/Syne_Mono/SyneMono-Regular.ttf');
}

body {
    background-image: url("../assets/old-paper.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'SyneMono', monospace;
}

h1 {display: flex;
    position: relative;
    margin-top: 5%;
    justify-content: center;
    font-family: 'Cinzel', serif;
    font-size: 48px;
    text-wrap: nowrap;  
    }

h2 {display: flex;
    position: relative;
    font-family: 'SyneMono', monospace;
    font-size: 48px;
    justify-content: center;
    text-wrap: nowrap;
    }

h3 {display: flex;
    position: relative;
    margin-top: 2%;
    font-family: 'SyneMono', monospace;
    font-size: 21px;
    justify-content: center;
    text-wrap: nowrap;
    }

.stamp {
    position: absolute;
    top: 155px;
    left: 110px;
    z-index: -9999;
    width: 480px;
    height: 270px;
    background-image: url('../assets/cryptogram-logo-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 90%;
}

.watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: 'SyneMono', monospace;
    font-size: 21px;
}

.social-media-container {
    position: fixed;
    right: 10px;
    bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-gap: 10px;
}

.social-media {
    height: 32px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.instructions-popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 30%);
    padding: 0;
    margin: 0;
    height: 540px;
    width: 540px;
    background-image: url('../assets/scroll.png');
    background-size: cover;
    z-index: 9999;
}

.instructions-title {
    transform: translate(0, -10px);
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 175px;
    font-size: 36px;
    font-weight: bold;
    color: rgb(229, 31, 31);
    text-wrap: nowrap;  
}

.instructions-text {
    max-width: 300px;   
    transform: translate(0, -10px);       /* Restricts the width of the text box to 400px */
    width: 100%;               /* Ensures the width adjusts within the max-width */
    font-family: 'SyneMono', monospace;
    font-size: 21;
    color: black;
    padding: 10px;             /* Adds padding inside the text box */
    box-sizing: border-box;    /* Includes padding in the width calculation */
    margin: 0 auto;
    text-wrap: nowrap;            /* Centers the .popup-text element horizontally in its parent */
}

.puzzle-grid {
    display: flex;
    position: relative;
    margin-top: 5%;
    flex-direction: column;
}

.cell {
    display: grid;
    grid-template-rows: repeat(2, 32px);
    border: 1px black;
}

.cell p{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 5%
}

.ans-cell {
    width: 32px;
    height: 32px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10%;
}

.fixed-cell {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px black;
    border-radius: 10%;
}

.clue-cell {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px black;
    border-radius: 10%;
    text-align: centre;
    justify-content: center;
    font-size: 32;
}

input:focus {
    outline: none;
    background-color: white;
    border: 3px solid black;
    border-radius: 10%;
    width: 32px;
    height: 32px;
}

input {
    display: block;
    position: absolute;
    font-size: 18px;
    font-family: 'SyneMono', monospace;
    text-align: center;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
}

button {
    width: 80px;
    height: 60px;
    border-radius: 10%;
    background-image: url('../assets/leather.jpeg');
    background-size: auto;
    font-size: 16px;
    font-family: 'SyneMono', monospace;
    color: white;
    padding: 5%;
}

button:hover {
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.circle-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-gap: 10px;
}

.circle-button {
    height: 32px;
    width: 32px;
    background-size: auto;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: white;
    border: 1px solid black;
}

.back {
    transform: translate(400px, 0px);
    padding: 0;
}

.circle-button:hover {
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.75);
}

.buttons-container {
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-bottom: 3%;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-gap: 30px;
}

#finish-button {
    display: none;
    position: relative;
    margin-bottom: 3%;
    padding: 0;
}

#finish-button:hover {
    cursor: pointer;
}
