*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SyneMono';
    src: url('../assets/Syne_Mono/SyneMono-Regular.ttf');
}

body {
    background-image: url("../assets/old-paper.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'SyneMono', monospace;
}